extend common/template.jade

block title
    title Contato

block active
    -var currentUrl = "cont"

block conteudo
    section.internas.pagina-contato-orcamento
        .container
            .row
                .col-md-5
                    header.page-header
                        h1 FALE CONOSCO
                    //- page-header

            .row
                .col-md-12.area-texto
                    p Preencha os campos abaixo, e envie-nos suas dúvidas e sugestões. Todos campos são obrigatórios.
                    p Desde já agradecemos o seu contato.
                //- .col
            //- row
            
            form(action="contato.html",method="post").form-contato
                .row
                    .col-sm-6.form-group
                        input(type="text",placeholder="Nome",name="nome",required).form-control
                    .col-sm-6.form-group
                        input(type="email",placeholder="E-mail",name="email",required).form-control
                // .row
                .row
                    .col-sm-4.form-group
                        input(type="text",placeholder="Cidade",name="cidade",required).form-control
                    .col-sm-4.form-group
                        select(name="estado",required).form-control
                            option(value="") Estado
                    .col-sm-4.form-group
                        input(type="tel",placeholder="Telefone",name="telefone",required).form-control
                // .row
                .row
                    .col-sm-4
                        .form-group
                            input(type="text",placeholder="Assunto",name="assunto",required).form-control
                        .form-group
                            input(type="text",placeholder="Departamento",name="departamento",required).form-control
                    .col-sm-8.form-group
                        textarea(name="mensagem",placeholder="Mensagem",required).form-control
                // .row
                .form-group
                    button(type="submit").btn.btn-block.btn-primary.btn-lg ENVIAR
                // .form-group

    //- .internas
