extend common/template.jade

block title
    title Soluções

block active
    -var currentUrl = "solu"

block conteudo
    section.internas.pagina-solucoes
        .container
            .row
                .col-md-5
                    header.page-header
                        h2 NOSSAS SOLUÇÕES
                    //- page-header

            .row
                .col-md-12.area-texto
                    p A Lumilux está no mercado para oferecer soluções diferenciadas aos nossos clientes, o nosso maior dever é garantir a qualidade no atendimento com eficiência, inovações, tecnologia e flexibilidades, visando superar as expectativas, por isso desenvolvemos ferramentas que nos garantem melhor logística e capacidade de atendimento simplificado. Sobre este conceito traduzimos as nossas soluções em quatro modelos, Varejo, Spot, Kam e Service, assim entendemos que oferecemos soluções simples e dedicada para cada tipo de cliente.
                //- .col
            //- row
            
            .area-solucoes
                //- inicio solução
                article.row.row-solucao
                    .col-imagem.col-md-4
                        figure
                            img(src="http://placehold.it/373x184/E3D938/000",alt="Imagem").img-responsive
                    .col-texto.col-md-8
                        header: h3 #[i.icone.varejo] VAREJO
                        p Esta solução é voltada a profissionais e consumidores que procuram agilidade e diversidade de produtos, a facilidade de comprar pelo nosso site com entrega rápida ou nas nossas lojas é um grande diferencial no nosso atendimento.
                //- fim solução

                //- inicio solução
                article.row.row-solucao
                    .col-imagem.col-md-4
                        figure
                            img(src="http://placehold.it/373x184/E3D938/000",alt="Imagem").img-responsive
                    .col-texto.col-md-8
                        header: h3 #[i.icone.spot] SPOT
                        p A solução em atendimento no canal Spot é voltada a empresas de todos os seguimentos e porte, é a solução apresentada pela Lumilux para facilitar o atendimento com uma equipe técnica especializada com transações ágeis e eficientes, esta solução é oferecida para clientes ainda sem vínculos com a nossa empresa. Esta solução conta com CRM estratégico para este perfil de cliente.
                //- fim solução

                //- inicio solução
                article.row.row-solucao
                    .col-imagem.col-md-4
                        figure
                            img(src="http://placehold.it/373x184/E3D938/000",alt="Imagem").img-responsive
                    .col-texto.col-md-8
                        header: h3 #[i.icone.kam] KAM
                        p Esta solução é voltada a empresas de todos os seguimentos e porte, porem para clientes com algum tipo de acordo comercial ou de relacionament o com a Lumilux, as vantagens são inúmeras, além de facilitar o processo de compras por intermédio do sistema próprio de gestão B2B (Business to Business) e um administrador dedicado, ainda trabalhamos com ECR (Efficient Customer Response) que nos permite maior gestão sobre as informações do cliente em conjunto com o CRM (Customer Relationship Management).
                //- fim solução

                //- inicio solução
                article.row.row-solucao
                    .col-imagem.col-md-4
                        figure
                            img(src="http://placehold.it/373x184/E3D938/000",alt="Imagem").img-responsive
                    .col-texto.col-md-8
                        header: h3 #[i.icone.servicos] SERVICE
                        p Atuamos com o desenvolvimento de soluções integradas, na montagem de painéis de proteção, comando ou controle, implantação (especificação, instalação e programação) de equipamentos para automatização de processos, além de projetos na área de iluminação.
                //- fim solução

    //- .internas
