footer.rodape
    section.area-contato
        .container
            .row
                .col-md-8.col-sm-7.area-newsletter
                    h3 RECEBA NOSSO INFORMATIVO
                    p Deixe seu nome e  email no espaço a baixo e receba nossas novidades.
                    form.form-inline
                        input(type="text",name="nome",placeholder="Nome").form-control.input-sm
                        input(type="email",name="email",placeholder="Email").form-control.input-sm
                        input(type="submit",value="OK").btn.btn-primary.btn-sm
                .col-md-4.col-sm-5.col-contato
                    h3 #[i.icone.telefone] CONTATO
                    p Matriz - Lumilux Suprimentos Industriais Ltda
                    p Rua das Canjeranas, 223 – Jabaquara
                    p São Paulo | SP - CEP 04349-020
                    p Fone: +55 11 33881800
                    p #[i.icone.email] contato@lumilux.com.br

    //-.area-contato
    .creditos
        .container
            p Lumilux © 2016 Todos os direitos reservados.