$imgs: '../imagens/estrutural';
$fonts: '../fonts';

$cor-default: #277fd1;

$bg-header:;
$bg-rodape: url(#{$imgs}/bg-rodape.png) center top no-repeat rgba(#000, 1);
$bg-sprite: url(#{$imgs}/sprite.png) no-repeat;
$bg-wrapper: #FFF;