.internas {
    padding-left: 30px;
    padding-right: 30px;

    .area-texto p {
        font-family: 'latolight', sans-serif;
        font-size: 17px;
        line-height: 1.6;
        text-align: justify;
    }

    input.form-control,
    select.form-control,
    textarea.form-control {
        border: 2px solid #696969;
        border-radius: 0;
        box-shadow: none;

        &:active,
        &:focus {
            border-color: $cor-default;
        }
    }
    textarea.form-control {
        min-height: 83px;
    }

    .btn-primary {
        background-color: $cor-default;
        border: none;
        border-radius: 0;
    }
}

.pagina-solucoes {
    .page-header {
        border-bottom: 1px solid #696969;
        margin-bottom: 60px;
        margin-top: 80px;

        h2 {
            margin-bottom: 20px;
        }
    }

    .area-solucoes {
        @media (min-width: 992px) {
            .row-solucao {
                .col-imagem:before {
                    background-color: #2D4959;
                    content: '';
                    height: 1px;
                    left: 80%;
                    position: absolute;
                    top: 32px;
                    width: 30%;
                }
                .col-imagem:after {
                    background-color: #2D4959;
                    border-radius: 50%;
                    content: '';
                    height: 7px;
                    left: 110%;
                    position: absolute;
                    top: 29px;
                    width: 7px;
                }

                .col-imagem figure {
                    position: relative;

                    &:after {
                        background-color: #2D4959;
                        content: '';
                        height: 20px;
                        left: 100%;
                        position: absolute;
                        top: 23px;
                        width: 3px;
                    }
                }

                .col-texto {
                    padding-left: 80px;
                }
            }
            .row-solucao:nth-child(even) {
                .col-imagem {
                    // col-md-push-8
                    left: 66.66667%;

                    &:before {
                        left: -80%;
                        width: 100%;
                    }

                    &:after {
                        left: -80%;
                    }

                    figure:after {
                        left: -3px;
                    }
                }
                .col-texto {
                    // col-md-pull-4
                    right: 33.33333%;

                    padding-left: 15px;
                    padding-right: 80px;
                }
            }
        }

        .row-solucao {
            margin-bottom: 50px;
            margin-top: 50px;

            header h3 {
                color: $cor-default;
                font-family: 'latobold', sans-serif;
                font-size: 24px;

                .icone {
                    margin-right: 15px;
                }
            }

            .col-imagem {
                text-align: center;

                figure {
                    border-bottom: 7px solid #277FD1;
                    display: inline-block;
                    padding-bottom: 4px;
                }
            }

            .col-texto {
                p {
                    font-family: 'latolight', sans-serif;
                    font-size: 17px;
                    line-height: 1.6;
                    text-align: justify;
                }
            }
        }
    }
}

.pagina-contato-orcamento {
    .page-header h1 {
        color: $cor-default;
        font-family: 'latobold', sans-serif;
        font-size: 24px;
        margin-top: 60px;
    }

    .area-texto {
        margin-bottom: 23px;

        p {
            color: #696969;
            font-family: 'latobold', sans-serif;
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .form-contato {
        padding-top: 52px;
        position: relative;

        &:before {
            content: '';
            background-color: $cor-default;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0;
            width: 40%;
        }

        .row {
            margin-left: -5px;
            margin-right: -5px;

            > div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        button {
            font-family: 'latoblack', sans-serif;
            font-size: 22px;
            padding: 5px 0;
        }
    }
}

.pagina-login {
    .page-header h2 {
        font-family: 'latobold_italic', sans-serif;
        font-size: 18px;
    }

    .form-control.input-lg {
        height: 40px;
        padding: 7px 16px;
    }
}

.pagina-catalogo {
    .area-texto {
        margin: 30px 0;
    }
}

.interna-fornecedores {

    .box-fornecedor {
        border-left: 1px solid #535353;
        display: inline-block;
        padding: 5px 15px;
        margin-top: 20px;
        width: 208px;

        &:first-child {
            border-left: none;
        }

        .img-responsive {
            margin: 0 auto;
        }
    }
}
.pagina-carrinho {

    .page-header {
        border-bottom: 1px solid #696969;
        margin-bottom: 20px;
        margin-top: 30px;

        h2 {
            color: $cor-default;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    .table-carrinho {
        thead th {
            background-color: #696969;
            border-bottom: 8px solid #FFF;
            color: #32596F;
            text-align: center;

            &.text-right {
                text-align: right;
            }
        }

        tbody td {
            background-color: #EDEDED;
            border-bottom: 8px solid #FFF;
            color: #061830;
            font-family: 'latobold', sans-serif;
            font-size: 15px;

            p.nome {
                color: #061830;
                font-family: 'latobold', sans-serif;
                font-size: 14px;
            }

            input.form-control {
                background: transparent;
                display: inline-block;
                border: none;
                width: auto;
            }
        }
    }

    .total-box {
        background-color: $cor-default;
        color: #FFF;
        font-family: 'latobold', sans-serif;
        font-size: 16px;
        padding: 8px 15px;

        .row > div:last-child {
            font-size: 18px;
        }
    }

    .btn-default {
        background-color: #FFF;
        border: 1px solid #061830;
        color: #061830;
        font-family: 'latobold', sans-serif;
        font-size: 16px;
        padding: 2px 8px;

        &:hover,
        &:active,
        &:focus {
            background-color: #EDEDED;
        }
    }

    .btn-grey {
        background-color: #696969;
        border-radius: 0;
        color: #FFF;
        font-family: 'latoblack', 'latobold', sans-serif;
        font-size: 18px;
    }
}
.menu-carrinho {
    background-color: $cor-default;
    margin-bottom: 7px;

    ul.nav {
        display: table;
        width: 100%;
        padding: 0 15px;

        li {
            display: table-cell;
            height: 53px;
            padding: 0;
            text-align: center;
            vertical-align: middle;

            a {
                background-color: transparent;
                color: #FFF;
                font-family: 'latobold', sans-serif;
                font-size: 16px;
                line-height: 53px;
                padding: 0 10px;

                .icone {
                    margin: 0 5px;
                }
            }

            &.active,
            &:hover {
                background-color: #FFF;
                a {
                    background-color: transparent;
                    color: #696969;
                }
            }
        }
    }
}