.internas {
    padding-left: 30px;
    padding-right: 30px;

    .area-texto p {
        font-family: 'latolight', sans-serif;
        font-size: 17px;
        line-height: 1.6;
        text-align: justify;
    }

    input.form-control,
    select.form-control,
    textarea.form-control {
        border: 2px solid #696969;
        border-radius: 0;
        box-shadow: none;

        &:active,
        &:focus {
            border-color: $cor-default;
        }
    }
    textarea.form-control {
        min-height: 83px;
    }

    .btn-primary {
        background-color: $cor-default;
        border: none;
        border-radius: 0;
    }

    .breadcrumb {
        background-color: #FFF;
        margin-bottom: 20px;
        padding: 20px 0;
        font-size: 16px;

        ul {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0 5px;

            li {
                color: #696969;
                display: inline-block;
                padding-right: 5px;

                &:before {
                    content: "\f101";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    padding-right: 5px;
                }

                &:first-child:before {
                    display: none;
                }

                a {
                    color: $cor-default;
                }

                &.active a {
                    color: #696969;
                    cursor: default;
                }
            }
        }
    }

    .form-pesquisa {
        @include clearfix;
        margin-bottom: 40px;

        label {
            font-family: 'latoblack', 'latobold', sans-serif;
            font-size: 16px;
            line-height: 34px;
        }
    }

    .menu-lateral {
        @include clearfix;
        background-color: #EDEDED;

        section.categorias {
            margin-bottom: 20px;

            header {
                padding: 10px;

                h3 {
                    border-bottom: 1px solid #696969;
                    color: #696969;
                    font-family: 'latoblack', 'latobold', sans-serif;
                    font-size: 20px;
                    margin: 0;
                    padding-bottom: 10px;
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            > ul {
                > li {
                    font-size: 16px;
                    a {
                        color: #696969;
                        display: block;
                        padding: 8px 15px;
                        text-decoration: none;

                        .fa-play {
                            margin-right: 5px;
                            -webkit-transition: -webkit-transform .2s linear;
                            transition: transform .2s linear;
                        }

                        &.toggle-collapse .fa-play {
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }

                        &.toggle-collapse.collapsed .fa-play,
                        &.collapsed .fa-play {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }
                    }

                    a:hover,
                    &.active a {
                        background-color: $cor-default;
                        color: #FFF;
                    }

                    > ul > li > a {
                        padding-left: 39px;
                    }
                }
            }
        }

        &.menu-b2b {
            section.categorias {
                header {
                    background-color: $cor-default;
                    margin-bottom: 10px;

                    h3 {
                        border-bottom: none;
                        color: #FFF;
                        padding-bottom: 0;
                    }
                }

                > ul {
                    padding: 0 15px;

                    > li {
                        border-bottom: 1px solid $cor-default;
                        padding: 4px 0;

                        a {
                            padding: 8px 0;
                        }

                        > a:hover,
                        &.active > a {
                            background-color: transparent;
                            color: $cor-default;
                        }

                        > ul > li > a {
                            padding-left: 24px;
                        }
                    }
                }
            }
        }
    }

    .grade-produtos {
        .produto {
            margin-bottom: 60px;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            padding: 0 6px;
            position: relative;
            width: 186px;

            a {
                text-decoration: none;
            }

            .foto {
                border: 3px solid #FFF;
                border-bottom: none;
            }

            .info {
                background-color: #696969;
                color: #FFF;
                line-height: 120%;
                padding: 5px 8px 20px 8px;

                p, small, strong {
                    overflow: hidden;
                    white-space: nowrap;
                }

                p {
                    color: #FFF;
                    font-size: 13px;
                    line-height: 150%;
                    margin: 0;
                }
                small {
                    display: block;
                    font-size: 11px;
                }
                strong.preco {
                    font-size: 15px;
                    line-height: 160%;
                }
            }

            a.plus {
                background-color: #696969;
                border: 1px solid #FFF;
                border-radius: 50%;
                color: #FFF;
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: -5px;
                line-height: 31px;
                width: 33px;
                text-align: center;
            }

            &:hover {
                .foto {
                    border-color: $cor-default;
                }
                .info,
                a.plus {
                    background-color: $cor-default;
                }
            }
        }
    }

    .pagination {
        li {
            > a,
            > span {
                background-color: #FFF;
                border: 1px solid #FFF;
                border-radius: 0;
                color: #696969;
            }

            &:hover,
            &.active {
                > a,
                > span {
                    border: 1px solid #696969;
                    color: #696969;
                }
            }
            &.active:hover {
                > a,
                > span {
                    background-color: $cor-default;
                    color: #FFF;
                }
            }
        }
    }
}

.pagina-solucoes {
    .page-header {
        border-bottom: 1px solid #696969;
        margin-bottom: 60px;
        margin-top: 80px;

        h2 {
            margin-bottom: 20px;
        }
    }

    .area-solucoes {
        @media (min-width: 992px) {
            .row-solucao {
                .col-imagem:before {
                    background-color: #2D4959;
                    content: '';
                    height: 1px;
                    left: 80%;
                    position: absolute;
                    top: 32px;
                    width: 30%;
                }
                .col-imagem:after {
                    background-color: #2D4959;
                    border-radius: 50%;
                    content: '';
                    height: 7px;
                    left: 110%;
                    position: absolute;
                    top: 29px;
                    width: 7px;
                }

                .col-imagem figure {
                    position: relative;

                    &:after {
                        background-color: #2D4959;
                        content: '';
                        height: 20px;
                        left: 100%;
                        position: absolute;
                        top: 23px;
                        width: 3px;
                    }
                }

                .col-texto {
                    padding-left: 80px;
                }
            }
            .row-solucao:nth-child(even) {
                .col-imagem {
                    // col-md-push-8
                    left: 66.66667%;

                    &:before {
                        left: -80%;
                        width: 100%;
                    }

                    &:after {
                        left: -80%;
                    }

                    figure:after {
                        left: -3px;
                    }
                }
                .col-texto {
                    // col-md-pull-4
                    right: 33.33333%;

                    padding-left: 15px;
                    padding-right: 80px;
                }
            }
        }

        .row-solucao {
            margin-bottom: 50px;
            margin-top: 50px;

            header h3 {
                color: $cor-default;
                font-family: 'latobold', sans-serif;
                font-size: 24px;

                .icone {
                    margin-right: 15px;
                }
            }

            .col-imagem {
                text-align: center;

                figure {
                    border-bottom: 7px solid #277FD1;
                    display: inline-block;
                    padding-bottom: 4px;
                }
            }

            .col-texto {
                p {
                    font-family: 'latolight', sans-serif;
                    font-size: 17px;
                    line-height: 1.6;
                    text-align: justify;
                }
            }
        }
    }
}

.pagina-contato-orcamento {
    .page-header h1 {
        color: $cor-default;
        font-family: 'latobold', sans-serif;
        font-size: 24px;
        margin-top: 60px;
    }

    .area-texto {
        margin-bottom: 23px;

        p {
            color: #696969;
            font-family: 'latobold', sans-serif;
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .form-contato {
        padding-top: 52px;
        position: relative;

        &:before {
            content: '';
            background-color: $cor-default;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0;
            width: 40%;
        }

        .row {
            margin-left: -5px;
            margin-right: -5px;

            > div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        button {
            font-family: 'latoblack', sans-serif;
            font-size: 22px;
            padding: 5px 0;
        }
    }
}

.pagina-login {
    .page-header h2 {
        font-family: 'latobold_italic', sans-serif;
        font-size: 18px;
    }

    .form-control.input-lg {
        height: 40px;
        padding: 7px 16px;
    }
}

.pagina-catalogo {
    .area-texto {
        margin: 30px 0;
    }
}

.interna-fornecedores {

    .box-fornecedor {
        border-left: 1px solid #535353;
        display: inline-block;
        padding: 5px 15px;
        margin-top: 20px;
        width: 208px;

        &:first-child {
            border-left: none;
        }

        .img-responsive {
            margin: 0 auto;
        }
    }
}
.pagina-carrinho {

    .page-header {
        border-bottom: 1px solid #696969;
        margin-bottom: 20px;
        margin-top: 30px;

        h2 {
            color: $cor-default;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    .table-carrinho {
        thead th {
            background-color: #696969;
            border-bottom: 8px solid #FFF;
            color: #32596F;
            text-align: center;

            &.text-right {
                text-align: right;
            }
        }

        tbody td {
            background-color: #EDEDED;
            border-bottom: 8px solid #FFF;
            color: #061830;
            font-family: 'latobold', sans-serif;
            font-size: 15px;

            p.nome {
                color: #061830;
                font-family: 'latobold', sans-serif;
                font-size: 14px;
            }

            input.form-control {
                background: transparent;
                display: inline-block;
                border: none;
                width: auto;
            }
        }
    }

    .total-box {
        background-color: $cor-default;
        color: #FFF;
        font-family: 'latobold', sans-serif;
        font-size: 16px;
        padding: 8px 15px;

        .row > div:last-child {
            font-size: 18px;
        }
    }

    .btn-default {
        background-color: #FFF;
        border: 1px solid #061830;
        color: #061830;
        font-family: 'latobold', sans-serif;
        font-size: 16px;
        padding: 2px 8px;

        &:hover,
        &:active,
        &:focus {
            background-color: #EDEDED;
        }
    }

    .btn-grey {
        background-color: #696969;
        border-radius: 0;
        color: #FFF;
        font-family: 'latoblack', 'latobold', sans-serif;
        font-size: 18px;
    }
}
.menu-carrinho {
    background-color: $cor-default;
    margin-bottom: 7px;

    ul.nav {
        display: table;
        width: 100%;
        padding: 0 15px;

        li {
            display: table-cell;
            height: 53px;
            padding: 0;
            text-align: center;
            vertical-align: middle;

            a {
                background-color: transparent;
                color: #FFF;
                font-family: 'latobold', sans-serif;
                font-size: 16px;
                line-height: 53px;
                padding: 0 10px;

                .icone {
                    margin: 0 5px;
                }
            }

            &.active,
            &:hover {
                background-color: #FFF;
                a {
                    background-color: transparent;
                    color: #696969;
                }
            }
        }
    }
}

.pagina-b2b {
    .page-header {
        margin-bottom: 65px;
        margin-top: 60px;
        text-align: center;

        h1 {
            border-bottom: 1px solid $cor-default;
            display: inline-block;
            font-family: 'latoitalic', 'latoregular', sans-serif;
            font-size: 20px;
            margin: 0;
            max-width: 100%;
            padding-bottom: 20px;
            width: 524px;

            strong {
                font-family: 'latobold_italic', 'latobold', sans-serif;
            }
        }
    }

    .table-produtos {
        > tbody > tr {
            > td {
                border-bottom: 1px solid $cor-default;
                border-top: none;
                vertical-align: bottom;
                padding-top: 20px;
                padding-bottom: 20px;

                &:first-child {
                    width: 30%;
                }

                &:nth-child(2) {
                    width: 43%;
                }

                p {
                    color: #696969;
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                p.nome {
                    font-family: 'latobold', sans-serif;
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                strong.preco {
                    color: $cor-default;
                    font-family: 'latobold', sans-serif;
                    font-size: 22px;
                }
            }
        }
    }

    .btn.btn-add-to-cart {
        background-color: $cor-default;
        border-radius: 0;
        color: #FFF;
        padding-left: 29%;
        position: relative;
        white-space: normal;
        width: 160px;

        .icone {
            position: absolute;
            left: 5%;
            margin-top: -13px;
            top: 50%;
        }

        span {
            border-left: 1px solid #FFF;
            display: block;
            font-family: 'latobold', sans-serif;
            font-size: 12px;
            line-height: 1;
            padding-left: 11px;
            text-align: left;
        }
    }
}