.wrapper{
	min-height:100vh;
}

html{
	overflow-x:hidden;
}

.container{
	max-width:1300px;
}

body, p, td {
	color: #696969;
	font-family: 'latoregular', sans-serif;
	font-size: 14px;
	line-height: 1.2;
}